body {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    margin: 0;
    border: 2px solid blue;
}

#season {
    padding: 10px;
    margin: 10px;
    border: 2px solid red;
}

#navigation {
    padding: 20px;
    margin: 50;
    border: 5px solid rgb(0, 255, 0);
}